@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-family);
  font-weight: 500;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  position: absolute;
  left: 0;
  width: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family)!important;
  font-weight: bold;
}